Repository JourneyPlanner/JourneyPlanner, pull requests merged in 2025-03, with the labels that each got.

#581 feat: JP-129 profile picture (& updated profile UI)
  backend/app/Http/Controllers/Journey/TemplateController.php
  backend/app/Http/Controllers/UserController.php
  backend/app/Models/User.php
  backend/database/migrations/2025_02_18_060919_add_user_email_hashes.php
  frontend/app.vue
  frontend/components/journey/id/dialogs/ProfileDialog.vue
  frontend/components/template/Card.vue
  frontend/components/template/CardSmall.vue
  frontend/composables/useGravatar.ts
  frontend/composables/useInfiniteScroll.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/business/[slug].vue
  frontend/pages/dashboard.vue
  frontend/pages/template/[id]/edit.vue
  frontend/pages/template/[id]/index.vue
  frontend/pages/user/[username].vue
  frontend/types/index.d.ts
Labels: feat

#605 fix: minor darkmode fix
  frontend/components/journey/id/dialogs/ProfileDialog.vue
  frontend/components/template/Card.vue
  frontend/components/template/CardSmall.vue
  frontend/components/template/Suggestion.vue
  frontend/pages/user/[username].vue
Labels: fix, frontend

#608 fix: Correctly display template creator on business page
  backend/app/Http/Controllers/Journey/TemplateController.php
Labels: fix, backend

#606 JP-207: fix: dont block background scrolling
  frontend/pages/dashboard.vue
Labels: fix, frontend
